<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Book store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(BookStore)}"/>

    <h1>Stat</h1>

    <br>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Метод</td>
            <td>Вызовов</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.methodName}"></td>
            <td th:text="${item.callAmount}"></td>
        </tr>
        </tbody>
    </table>
    <!--    <h4>Общая сумма: <span th:text=""></span></h4>-->
</div>
</body>
</html>