<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Book store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(BookStore)}"/>
    <h3>Магазин книг</h3>
    <h4>Фильтр:</h4>
    <form th:action="@{'/books'}" method="get">
        <div class="form-group">
            <label>Максимальная цена</label>
            <input th:value="${param.maxPrice != null ? param.maxPrice : null}" type="number"
                   class="form-control form-control-sm" name="maxPrice">
            <label>Минимальная цена</label>
            <input th:value="${param.minPrice != null ? param.minPrice : null}" type="number"
                   class="form-control form-control-sm" name="minPrice">
            <label>Заголовок</label>
            <input th:value="${param.titlePart != null ? param.titlePart : null}" type="text"
                   class="form-control form-control-sm" name="titlePart">
            <!--            <tr th:each="b : ${boxes}">-->
            <th:block th:each="g : ${genres}">
                <input th:value="true" type="checkbox" th:name="${g.name()}" th:checked="${param.get(g.name())}"> <span
                    th:text="${g.name()}"></span> <br>
            </th:block>
            <!--            th:checked="${param.get(g.name())} ? 'checked' : ''"-->
        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>

    <br>
    <br>
    <h4>Список книг:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td>Год издания</td>
            <td>Жанр</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${books}">
            <td th:text="${b.title}"></td>
            <td th:text="${b.description}"></td>
            <td th:text="${b.price}"></td>
            <td th:text="${b.publishYear}"></td>
            <td th:text="${b.genre}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li th:class="page-item + (${pageHasPrevious} ? '' : ' disabled')">
                <a class="page-link" th:href="@{'/books/?p=' + ${prevPageNumber+1} + ${strParam}}">Prev</a>
            </li>
            <li th:class="page-item + (${pageHasNext} ? '' : ' disabled')">
                <a class="page-link" th:href="@{'/books/?p=' + ${nextPageNumber+1} + ${strParam}} ">Next</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>